# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.iml
# lock files
*.lock
# binary files
*.bin
*.class
*.exe
*.o
*.so
# Node.js 관련
node_modules/
npm-debug.log
yarn-error.log
# Java / Gradle 관련
target/
build/
.gradle/
